

    tms-selector-button {
        width: 10%;
        height: 10%;
        background-color: $blue-background;
	    border-radius: 25%;
	    border: 1em solid #18ab29;
	    display: inline-block;
	    cursor: pointer;
	    color: $white-background;
	    font-family: Arial;
	    font-size: 1em;
	    text-decoration: none;
    }