html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: gray;
}

app {
        width: 100%;
        height: 100%;
        }

nav-menu {
    height:100%;
}

div.row {
    height:100%;
}

div.container-fluid {
    height: 100%;
}