<div  class='container-fluid' [class.login-background]="!islogin.isLogin">
    <div class='row'>
        <navheader *ngIf="islogin.isLogin"></navheader>
        <tms-navmenu *ngIf="islogin.isLogin"></tms-navmenu>
        <div [ngClass]="{'col-lg-8 body-content mainbody': islogin.isLogin}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!--<div *ngIf="!count.isLogin" class='container-fluid'>
    <div class='row'>
        <router-outlet></router-outlet>
    </div>
</div>-->