<div class="main-nav-header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class='nav navbar-nav'>
                <li>Filter: </li>
                <li>
                    <span>Category</span>
                    <p-dropdown [options]="categoryItems" [(ngModel)]="selectedCategoryItem" [ngModelOptions]="{standalone: true}" [style]="{'min-width':'350px'}" (onChange)="changeCategory()"></p-dropdown>
                </li>
                <li> 
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="search">Question</label>
                            <input type="text" class="form-control" pInputText id="search" [(ngModel)]="search" (keyup)="search=$event.target.value;find()" name="search" placeholder="Search Question">
                        </div>
                    </form>
                </li>
                <li>
                    <button class="btn btn-success" type="button" (click)="addQuestion()"><i class="fa fa-check"></i> Add new Question </button>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="questions">
    <tms-question-readonly *ngFor="let question of filteredQuestions" [question]="question.text" [answers]="question.answersAll"></tms-question-readonly>
</div>