<div class="row">
    <div class="col-lg-3 left-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class='nav navbar-nav'>
                    <li>
                        <p-dropdown [options]="categoryItems" [(ngModel)]="selectedCategoryItem" [ngModelOptions]="{standalone: true}" [style]="{'width':'250px'}" (onChange)="changeCategory()"></p-dropdown>
                    </li>
                    <li>
                        <button *ngIf="addBtnActive" class="btn btn-success btn-sm" (click)="addTest()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                        <button *ngIf="!addBtnActive" class="btn btn-success btn-sm" (click)="addTest()" disabled="disabled"><span class="glyphicon glyphicon-plus"></span> Add</button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="tests">
            <tms-test-draggable *ngFor="let t of filteredTests" [test]="t" (open)="openTest($event)" (delete)="deleteTest($event)"></tms-test-draggable>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="inputRow">
            <div class="inputField1-1">
                <div><label for="title">Title</label></div>
                <div><input class="form-control" pInputText id="title" [(ngModel)]="selectedTest.text" [disabled]="readonlyForm"></div>
             </div>
        </div>
        <div class="inputRow">
            <div class="inputField1-1">
                <div><label for="description">Description</label></div>
                <div>
                    <textarea class="form-control" id="description" *ngIf="readonlyForm" disabled="disabled"></textarea>
                    <textarea class="form-control" id="description" *ngIf="!readonlyForm"></textarea>
                </div>
             </div>
        </div>
        <div class="inputRow">
            <div class="inputField1-3">
                <div><label for="owner">Owner</label></div>
                <div><input pInputText id="owner" [(ngModel)]="owner" [disabled]="true"></div>
             </div>
             <div class="inputField1-3">
                <div><label for="createdat">Created At</label></div>
                <div><p-calendar [(ngModel)]="date" dateFormat="yy.mm.dd." [disabled]="true" [showIcon]="true"></p-calendar></div>
             </div>
             <div class="inputField1-3">
                 <div *ngIf="!readonlyForm" class="rubbish" pDroppable="question" (onDrop)="deleteQuestion($event)"></div>
                 <div *ngIf="readonlyForm" class="rubbish"></div>
             </div>
        </div>
        <div class="ui-grid ui-grid-pad ui-grid-responsive test-container">
            <div class="ui-grid-row" *ngIf="!readonlyForm">
                <div class="ui-grid-col-6 ui-widget-content selectedQuestions" pDroppable="question" (onDrop)="drop($event)" style="width:100%;height:100%;">
                    <div pDraggable="question" *ngFor="let question of selectedQuestions" (onDragStart)="dragStart($event,question)" (onDragEnd)="dragEnd($event)">
                        <tms-question-draggable [question]="question"></tms-question-draggable>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row" *ngIf="readonlyForm">
                <div class="ui-grid-col-6 ui-widget-content selectedQuestions" style="width:100%;height:100%;">
                    <div *ngFor="let question of selectedQuestions">
                        <tms-question-draggable [question]="question"></tms-question-draggable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 right-bar">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class='nav navbar-nav'>
                    <li>
                        Questions
                    </li>
                </ul>
            </div>
        </nav>
        <div class="questions" *ngIf="readonlyForm">
            <div *ngFor="let question of filteredQuestions">
                <tms-question-draggable [question]="question"></tms-question-draggable>
            </div>
        </div>
        <div class="questions" *ngIf="!readonlyForm">
            <div *ngFor="let question of filteredQuestions" pDraggable="question" (onDragStart)="dragStart($event,question)" (onDragEnd)="dragEnd($event)">
                <tms-question-draggable [question]="question"></tms-question-draggable>
            </div>
        </div>
    </div>
</div>