<div class="row">
    <div class="col-lg-3">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class='nav navbar-nav'>
                    <li>
                        <p-dropdown [options]="categoryItems" [(ngModel)]="selectedCategoryItem" [ngModelOptions]="{standalone: true}" [style]="{'min-width':'150px'}" (onChange)="changeCategory()"></p-dropdown>
                    </li>
                    <li>
                        <button *ngIf="addBtnActive" class="btn btn-success" (click)="addTest()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                        <button *ngIf="!addBtnActive" class="btn btn-success" (click)="addTest()" disabled="disabled"><span class="glyphicon glyphicon-plus"></span> Add</button>
                    </li>
                </ul>
            </div>
            <div class="tests">
            </div>
        </nav>
    </div>
    <div class="col-lg-6">
        Test editor
        <div style="width:50px;height:50px;background:red;" pDroppable="question" (onDrop)="deleteQuestion($event)"></div>
        <div class="ui-grid ui-grid-pad ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6 ui-widget-content selectedQuestions" pDroppable="question" (onDrop)="drop($event)" style="height:500px;">
                    <div *ngFor="let question of selectedQuestions" pDraggable="question" (onDragStart)="dragStart($event,question)" (onDragEnd)="dragEnd($event)">{{question.text}}</div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-3">
        Questions
        <div *ngFor="let question of filteredQuestions">{{question.text}}</div>
        <div class="ui-grid ui-grid-pad ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6 ui-widget-content" style="border-right:0 none">
                    <div *ngFor="let question of filteredQuestions" pDraggable="question" (onDragStart)="dragStart($event,question)" (onDragEnd)="dragEnd($event)">{{question.text}}</div>
                </div>
            </div>
        </div>
    </div>
</div>