@mixin fill-width() {
  width: 100%;
}

@mixin fill-height() {
  height: 100%;
}

@mixin fill() {
  width: 100%;
  height: 100%
}

@mixin menu-height() {
    height: calc( 100% - 61.6px);
}

html,
body {
    @include fill();
    background: $gray-light;

    app {
        @include fill();

        nav-menu {
            @include fill-height();
        }

        div.row {
            @include fill-height();
        }

        div.container-fluid {
            @include fill-height();
        }

        div.mainbody {
            @include menu-height();
            width: 86%!important;
        }

        div.col-lg-1.navbar-inverse {
            @include menu-height();
            width: 14%;
        }

        .sidenav {
            @include fill-height();
            padding-top: 20px;
            background-color: $gray-lighter;
        }

        nav.navbar.navbar-inverse  {
            margin-bottom: 0px;
            border-radius: 0px !important;
        }

        div.inputRow {
            width: 100%;
            min-height: 1px;

            div.inputField1-1 {
                width: 100%;
                float: left;

                div,input {
                    width: 100%;
                    margin-bottom: 1%;
                }
            }

            div.inputField1-3 {
                width: 33%;
                float: left;
                min-height: 1px;

                div,input {
                    width: 100%;
                    margin-bottom: 1%;
                }
            }

            div.inputField1-2 {
                width: 50%;
                float: left;

                div,input {
                    width: 100%;
                    margin-bottom: 1%;
                }
            }

            div.inputField-checkbox {
                width: 50%;
                float: left;
            }
        }

        p-dialog > div {
            min-width: 600px!important;
            width: 50%;
        }

        p-dataTable {
            width: 100%;
            height: 100%;
        }
    }
}

