tms-navmenu {

    div.col-lg-1.navbar-inverse {
        position: absolute;
        left: 0px;
        background: $gray-darker;
        color: $gray-font-light;
        border-right: 0.1em solid $black;
        padding: 0.3em;

        ul.navbar-nav > li {
            width: 100%;
            font-size: 1.2em;

            a {
                color: $gray-font-light!important;
                border-radius: 0.2em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }

            a:focus, a:hover {
                text-decoration: none!important;
                color: $white!important;
            }

            a.active:focus, a.active:hover {
                background-color: $brand-blue-light;
            }

            a.active {
                background-color: $brand-blue-light;
            }
        }
    }
}

tms-navheader {

    a.navbar-brand {
        margin-left: -1.8em!important;
        color: $white!important;
    }

    nav.navbar.navbar-inverse {
        height: 1em;
        background: $gray-darker;
        color: $gray-font-light;

        a {
            padding-top: 0.5em;
        }

        li > a {
            padding-top: 0.75em;
        }

        li > a.active {
            color: $white;
            font-weight: bold;
        }
    }
}