$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
$gray-font-light: #cfd2da;
$gray-dark-height: #252830;
$white: #fff;

$brand-blue-dark: darken(#428bca, 6.5%); // #337ab7
$brand-blue-light: #1997c6;
$brand-blue:    #5bc0de;
$brand-green:   #5cb85c;
$brand-yellow:  #f0ad4e;
$brand-red:     #d9534f;