$gray-darker:  #222222;
$gray-dark:    #333333;
$gray:         #555555;
$gray-light:   #777777;
$gray-lighter: #eeeeee;
$gray-font-light: #cfd2da;
$gray-dark-height: #252830;
$white: #fff;
$black : #080808;

$brand-blue-dark: darken(#428bca, 6.5%); // #337ab7
$brand-blue-light: #1997c6;
$brand-blue:    #5bc0de;
$brand-green:   #5cb85c;
$brand-yellow:  #f0ad4e;
$brand-red:     #d9534f;