tms-login {
    @include fill();

    .panel.panel-login {
        position: absolute;
        top: 3em;
        @include fill-width();
        background-color: rgba(0, 0, 0, 0.2);
        color: $gray-lighter;

        h1 {
            font-family: "Trebuchet MS", Helvetica, sans-serif!important;
            color: $gray-lighter;
        }

        button:link {
            text-decoration: none!important;
        }

        button:hover {
            text-decoration: none!important;
        }

        button:visited {
            text-decoration: none!important;
        }

        button:active {
            text-decoration: none!important;
        }
    }

    .panel-heading {
        opacity: 1;
    }

    .panel-body {
        opacity: 1;
    }
}