tms-test-menu {
    @extend datatable-fill-total;

    th.ui-state-default.ui-unselectable-text {
        @include fill-width();
    }

    > div {
        &.executableTests {
            position: absolute;
            top: 0%;
            height: 50%;
        }

        &.notOpenedTests {
            position: absolute;
            top: 50%;
            height: 50%;
        }
    }

    tms-button > button {
        position: absolute;
        left: -15.7%;
        top: 1%;
        height: 10%;
        width: 15%;
    }

    tr.ui-widget-content:hover {
        &.ui-datatable-even {
            color: $white!important;
            background: lighten($brand-blue-light, 5%) !important;
        }

        &.ui-datatable-odd {
            color: $white!important;
            background: lighten($brand-blue-light, 5%) !important;
        }
    }
}

tms-test-execution {
    
    .answers > div {
        display: inline;
    }
}