<h1>User Details :</h1>

<p *ngIf="!users"><em>Loading User Details please Wait ! ...</em></p>

<table class='table' style="background-color:#FFFFFF; border:2px #6D7B8D; padding:5px;width:90%;table-layout:fixed;" cellpadding="2" cellspacing="2" *ngIf="users">

    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td width="100" align="center">User Id</td>
        <td width="240" align="center">Nickname</td>
        <td width="240" align="center">Lastname</td>
        <td width="120" align="center">Firstname</td>
        <td width="60" align="center">Role Id</td>

    </tr>
    <tbody *ngFor="let user of users">
        <tr>
            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{user.userid}}</span>
            </td>

            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{user.nickname}}</span>
            </td>

            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{user.lastname}}</span>
            </td>

            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{user.firstname}}</span>
            </td>
            <td align="center" style="border: solid 1px #659EC7; padding: 5px;table-layout:fixed;">
                <span style="color:#9F000F">{{user.roleId}}</span>
            </td>
        </tr>
    </tbody>
</table> 