<div>
    <div class="col-md-12">
        <h1>Welcome in Test Management Studio</h1>

        <tms-home-buttonset></tms-home-buttonset>

        <div class="panel panel-default">
            <div class="panel-heading">
                Project description
            </div>
            <div class="panel-body">
                This is my BSc level professional dissertation in Budapest University of Technology and Economic.
                The purpose of the project is to make a web based application which gratifies test compliting to the users.
                Users have to be able to make Categories like subjects then make test scenarios what other users can fill out in frame of exams.
                <br>
                Unfortunately my colleague had given up the project and his job was the server implementation. To elinimate and simulate 
                the full progress of the application I've created a fake server on the client side what represents the Angular2 In-memory web application.
                This fake server knows only the getter and setter functions of most functionatelly so it may happen some functions aren't working. I apologize for that.
                <br>
                Now there are four main roles what you can choose:
                <ul>
                    <li>Administrator</li>
                    <li>Manager</li>
                    <li>User</li>
                    <li>Developer</li>
                </ul>
                Whose have different access for the modules. To check all possibilities here are their username-password combinations:
                <ul>
                    <li>admin/admin -> Administrator role</li>
                    <li>manager/manager -> Manager role</li>
                    <li>user/user -> User role</li>
                    <li>mbalyi/test -> Developer role</li>
                </ul> 
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Used technologies</div>
                <div class="panel-body">
                    Many technologies were used in this client one-page applications.
                    The majer ones from them:
                    <ul>
                        <li>Angular2</li>
                        <li>SASS</li>
                        <li>PrimeNG</li>
                        <li>NG Redux system</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Next features in the future</div>
                <div class="panel-body">
                    <ul>
                        <li>First of all create a real backend.</li>
                        <li>Update to Angular4</li>
                        <li>Broaden the Angular2 Guard conditions</li>
                        <li>etc.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Contact</div>
                <div class="panel-body">
                    <ul>
                        <li>Name: Mark Balyi</li>
                        <li>Email: balyi.mark@hotmail.com</li>
                        <li>Phone: x.x</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>