<p-dataTable [value]="users" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
    <p-column field="nickname" header="Nickname" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="firstname" header="Firstname" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="lastname" header="Lastname" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="email" header="Email" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="address" header="Address" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="roleId" header="Role" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add">
                </button>
            </div>
        </p-footer>
</p-dataTable>
<!--
<p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="user">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="nickname">Nickname</label></div>
            <div class="ui-grid-col-8"><input pInputText id="nickname" [(ngModel)]="user.nickname" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="firstname">firstname</label></div>
            <div class="ui-grid-col-8"><input pInputText id="firstname" [(ngModel)]="user.firstname" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="lastname">lastname</label></div>
            <div class="ui-grid-col-8"><input pInputText id="lastname" [(ngModel)]="user.lastname" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="email">email</label></div>
            <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="user.email" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="address">address</label></div>
            <div class="ui-grid-col-8"><input pInputText id="address" [(ngModel)]="user.address" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="roleId">roleId</label></div>
            <div class="ui-grid-col-8"><input pInputText id="roleId" [(ngModel)]="user.roleId" /></div>
        </div>
        
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>-->