tms-button {

    button {
        color: $brand-blue-light;
        border: 0.1em solid $brand-blue-light!important;
        background: transparent;

        &.blue {
            color: $white;
            background: $brand-blue-light;
        }

        &.green {
            color: $white;
            background: $brand-green;
            border: 0.1em solid $brand-green!important;
        }
    }

    button:hover {
        background: $brand-blue-light!important;
        color: $white!important;

        &.blue {
            color: $brand-blue-light!important;
            background: $white!important;
        }

        &.green {
            color: $brand-green!important;
            background: $white!important;
        }
    }

    

    button.selected {
        color: $white;
        background: $brand-blue-light;

        &.blue {
            color: $brand-blue-light;
            background: $white;
        }

        &.green {
            color: $brand-green;
            background: $white;
        }
    }
}